.home-container {
  background-image: url("https://res.cloudinary.com/dvpasesj3/image/upload/v1687277800/pexels-karolina-grabowska-5632397_ojbgnb.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* Otros estilos relacionados con la imagen de fondo */
}
